@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar_items {
        @apply flex gap-3 text-medium items-center cursor-pointer py-3 px-3 hover:bg-neutral-200
    }
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #2121212c;
}

::-webkit-scrollbar-thumb {
    background-color: #0000004a;
}